[submodule "module/base"]
	path = module/base
	url = git@github.com:openurp/base.git
[submodule "platform"]
	path = platform
	url = git@github.com:openurp/platform.git
[submodule "module/teach"]
	path = module/teach
	url = git@github.com:openurp/teach.git
[submodule "site"]
	path = site
	url = git@github.com:openurp/openurp.github.io.git
[submodule "pom"]
	path = pom
	url = git@github.com:openurp/pom.git
[submodule "module/eams"]
	path = module/eams
	url = git@github.com:openurp/eams.git
[submodule "module/trims"]
	path = module/trims
	url = git@github.com:openurp/trims.git
[submodule "model/teach"]
	path = model/teach
	url = git@github.com:openurp/teach-model.git
[submodule "model/base"]
	path = model/base
	url = git@github.com:openurp/base-model.git
[submodule "webapp/base"]
	path = webapp/base
	url = git@github.com:openurp/base-webapp.git
[submodule "service/attendance"]
	path = service/attendance
	url = git@github.com:openurp/attendance-service.git
[submodule "service/teach"]
	path = service/teach
	url = git@github.com:openurp/teach-service.git
[submodule "webapp/trims"]
	path = webapp/trims
	url = git@github.com:openurp/trims.git
[submodule "webapp/eams"]
	path = webapp/eams
	url = git@github.com:openurp/eams.git
