[submodule "api/base"]
	path = api/base
	url = git@github.com:openurp/base-api.git
[submodule "api/security"]
	path = api/security
	url = git@github.com:openurp/security-api.git
[submodule "module/base"]
	path = module/base
	url = git@github.com:openurp/base.git
[submodule "platform"]
	path = platform
	url = git@github.com:openurp/platform.git
[submodule "module/security"]
	path = module/security
	url = git@github.com:openurp/security.git
[submodule "api/teach-base"]
	path = api/teach-base
	url = git@github.com:openurp/teach-base-api.git
[submodule "api/app"]
	path = api/app
	url = git@github.com:openurp/app-api.git
[submodule "module/teach-base"]
	path = module/teach-base
	url = git@github.com:openurp/teach-base.git
