name: Scala CI

on:
  push:
  pull_request:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up JDK 21
        uses: actions/setup-java@v3
        with:
          java-version: '21'
          distribution: 'temurin'

      - name: Cache SBT dependencies
        uses: coursier/cache-action@v6
      - name: Setup sbt launcher
        uses: sbt/setup-sbt@v1

      - name: Run SBT tasks
        run: sbt clean compile test
